@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


/* shared styles */
.display-flex {
    display: flex;
}

.text-primary {
    color: #FF900E;
}

/* dark02 */
.text-gray {
    color: #424242;

}

/* dark03 */
.text-light-gray {
    color: #727272;

}

.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary {
    background-color: #FF900E;
    color: white;
    border: none;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;

}

main {
    max-width: 1440px;
    margin: 0 auto;
}

main>section {
    margin-top: 130px;
}

/* header styles */

/* navbar related styles */

.navbar {
    justify-content: space-between;
    align-items: center;
}

.brand {
    font-weight: 700;
    font-size: 3rem;

}

.nav-items {
    list-style: none;
    margin-right: 30px;

}

.nav-link {
    text-decoration: none;
    font-weight: 500;

}

.navbar,
.banner {
    max-width: 1440px;
    margin: 0 auto;

}

/* banner related styles */
.banner-content {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title {
    font-weight: 700;
    font-size: 4rem;
}

.banner-image {
    width: 100%;
}

.teams {
    align-items: center;

}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;

}

.our-features {
    margin-left: 73px;
    max-width: 530px;

}

.feature-title {
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 24px;
}

#quick-list {
    font-weight: 500;

}

.feature-description {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 32px;

}

/* responsive media  */
@media screen and (max-width: 576px) {

    .navbar,
    .nav-links,
    .teams {
        flex-direction: column;
    }

    .team-img-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .our-features {
        margin-left: 15px;


    }


}

#feature-section-title {
    border-left: 5px solid #FF900E;
    padding-left: 21px;


}

.feature-card .feature-title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 0px;


}

.feature-card {
    padding: 30px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    border-radius: 8px;
}
.Features{
    gap: 146px;
}
/* .Features-img{
    max-width: 800px
} */
/* some facts related styles */

.some-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

.some {
    border: 1px solid #FF900E;
    width: 241px;
    height: 241px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.some-number {
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}

.some-name {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}

#some-description {
    max-width: 542px;
}

.section-title {
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 24px;


}

.sponsor-info {
    max-width: 542px;
    margin: 50px auto;
    text-align: center;

}

.sponsor-companies {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.sponsor-companies img {
    filter: grayscale(100%);
}




/* medium size devices */
@media screen and (max-width: 576px) {

    .navbar,
    .nav-links,
    .teams {
        flex-direction: column;
    }

    .team-img-container,
    .some-container,
    .sponsor-companies {
        grid-template-columns: repeat(1, 1fr);
    }

    .our-features {
        margin-left: 15px;
    }

    .some-container {
        justify-items: center;
        gap: 24px;
    }

    .sponsor-companies {
        justify-items: center;
        gap: 50px;
    }
}


@media screen and (min-width: 576px) and (max-width: 992px) {

    .team-img-container,
    .some-container {
        grid-template-columns: 1fr;
    }

    .some-container {
        justify-items: center;
    }

    .sponsor-companies,
    .some-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        justify-items: center;

    }
}